@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron" align="center">
    <img src="../Resources/Infinteen_logo.png" alt="Logo" width="500px" height="260px">
    <p align="center">Infiniteen is dedicated to providing online classes for high school classes, made by professional mentors.</p>
</div>


