@{
    ViewBag.Title = "About";
}


<div class="jumbotron" align="center">
    <img src="../Resources/Infinteen_logo.png" alt="Logo" width="500px" height="260px">
    <p align="center">Infiniteen is dedicated to providing online classes for high school classes, made by professional mentors.</p>
</div>
<div>
    <h3>Who We Are?</h3>
    <p>Mentoring and community service has been a crucial part of shaping our lives here. At Infiniteen, we believe that the young adults, ages 14-18, are essentially the future for our society and that it is crucial to teach these amazing students the knowledge we already possess.</p>
    <h3>Mission</h3>
    <p>Here at Infiniteen we strive to improve young adults personal development by teaching the basic life skills needed to survive adulthood. We offer nine weeks of master class courses that cover topics from filing taxes to creating resumes for job positions. </p>
    <h3>Our Team</h3>
    <p>Our staff consists of dedicated volunteers from the Santa Rosa and Escambia County areas, and each member has significant experience in the skill area they mentor our students about!</p>
    <h3>Classes</h3>
    <ul>
        <li>Filing Taxes</li>
        <li>Job Interview Techniques</li>
        <li>Applying for College</li>
        <li>and many <a href="">more</a>...</li>
    </ul>
</div>


