
@{
    ViewBag.Title = "CreateCourse";
}

<style>
    input{margin-left: 10px; margin-top: 10px; margin-bottom: 10px; width: 1000px; }
</style>

<h2>Create a Course</h2>
<form name="myform" action="CreateQuiz">
    Please enter the URL of the lesson: <br/>
    <input type="text" name="question 1" /><br /><br />
</form>
