
@{
    ViewBag.Title = "CreateQuiz";
}
<style>
    input{margin-top: 10px; margin-bottom: 10px}
</style>

<h2>CreateQuiz</h2>
<p><i>All quizzes have five questions</i></p>
<form name="myform">
    Question 1<input type="text" name="question 1" /><br/><br/>

    Answer 1<input type="text" name="ans1" /><br/>
    Answer 2<input type="text" name="ans2" /><br/>
    Answer 3<input type="text" name="ans3" /><br/>
    Answer 4<input type="text" name="ans4" /><br/><br/>

    Answer Key<input type="text" name="Answer Key" /><br/><br/><br/><hr />


    Question 2<input type="text" name="question 2" /><br /><br />

    Answer 1<input type="text" name="que2_ans1" /><br />
    Answer 2<input type="text" name="que2_ans2" /><br />
    Answer 3<input type="text" name="que2_ans3" /><br />
    Answer 4<input type="text" name="que2_ans4" /><br /><br />

    Answer Key<input type="text" name="que2_Answer Key" /><br /><br /><br /><hr />

    Question 3<input type="text" name="question 3" /><br /><br />

    Answer 1<input type="text" name="que3_ans1" /><br />
    Answer 2<input type="text" name="que3_ans2" /><br />
    Answer 3<input type="text" name="que3_ans3" /><br />
    Answer 4<input type="text" name="que3_ans4" /><br /><br />

    Answer Key<input type="text" name="que3_Answer Key" /><br /><br /><br /><hr />

    Question 4<input type="text" name="question 4" /><br /><br />

    Answer 1<input type="text" name="que4_ans1" /><br />
    Answer 2<input type="text" name="que4_" /><br />
    Answer 3<input type="text" name="que4_ans3" /><br />
    Answer 4<input type="text" name="que4_ans4" /><br /><br />

    Answer Key<input type="text" name="que4_Answer Key" /><br /><br /><br /><hr />

    Question 5<input type="text" name="question 5" /><br /><br />

    Answer 1<input type="text" name="que5_ans1" /><br />
    Answer 2<input type="text" name="que5_ans2" /><br />
    Answer 3<input type="text" name="que5_ans3" /><br />
    Answer 4<input type="text" name="que5_ans4" /><br /><br />

    Answer Key<input type="text" name="que5_Answer Key" /><br /><br /><br />

</form>


