
@{
    ViewBag.Title = "CreateQuiz";
}
<style>
    input{margin-left: 10px; margin-top: 10px; margin-bottom: 10px; width: 1000px; }
</style>

<h2>CreateQuiz</h2>
<p><i>All quizzes have five questions</i></p>
<form name = "myform" action="Index">
    Question 1<input type="text" name="question 1" /><br/><br/>

    Correct Answer<input type="text" name="ans1" /><br/>
    Wrong Answer<input type="text" name="ans2" /><br/>
    Wrong Answer<input type="text" name="ans3" /><br/>
    Wrong Answer<input type="text" name="ans4" /><br/><br/><br/><hr />


    Question 2<input type="text" name="question 2" /><br /><br />

    Correct Answer<input type="text" name="que2_ans1" /><br />
    Wrong Answer<input type="text" name="que2_ans2" /><br />
    Wrong Answer<input type="text" name="que2_ans3" /><br />
    Wrong Answer<input type="text" name="que2_ans4" /><br /><br /><br /><hr />

    Question 3<input type="text" name="question 3" /><br /><br />

    Correct Answer<input type="text" name="que3_ans1" /><br />
    Wrong Answer<input type="text" name="que3_ans2" /><br />
    Wrong Answer<input type="text" name="que3_ans3" /><br />
    Wrong Answer<input type="text" name="que3_ans4" /><br /><br /><br /><hr />

    Question 4<input type="text" name="question 4" /><br /><br />

    Correct Answer<input type="text" name="que4_ans1" /><br />
    Wrong Answer<input type="text" name="que4_" /><br />
    Wrong Answer<input type="text" name="que4_ans3" /><br />
    Wrong Answer<input type="text" name="que4_ans4" /><br /><br /><br /><hr />

    Question 5<input type="text" name="question 5" /><br /><br />

    Correct Answer<input type="text" name="que5_ans1" /><br />
    Wrong Answer<input type="text" name="que5_ans2" /><br />
    Wrong Answer<input type="text" name="que5_ans3" /><br />
    Wrong Answer<input type="text" name="que5_ans4" /><br /><br /><br />

    <input type="submit" value="Submit">
</form>


