@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <img src="../Resources/Infinteen_logo.png" alt="Logo" width="500px" height="260px">
    <p align="center">Infiniteen is dedicated to providing online classes for high school classes, made by professional mentors.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Go Beyond Academics</h2>
        <p>
            Infiniteen only offers courses that are useful regardless of the student's path of life.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Compete With Peers</h2>
        <p>
            Earn badges and Infinipoints by completing comprehension quizzes and tests.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Lessons by Professionals</h2>
        <p>
            Learn from professional mentors who have real experience.
        </p>
    </div>
</div>
<button type="button" class="btn btn-primary btn-lg">Log in</button>
<button type="button" class="btn btn-primary btn-lg">Register</button>
