@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" align="center" >
    <img src="../Resources/Infinteen_logo.png" alt="Logo">
    <p align="center">Infiniteen is dedicated to teaching basic life skills to high school students, through courses made by professional mentors.</p>
</div>

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="" method="post">
        <div class="container" text-align=center >
            <label><b>Username</b></label>
            
            <input type="text" placeholder="Enter Username" name="email" required id="username"><br/>
            
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required id="password"><br/>
            
            <button type="submit"> Log in</button>
            <input type="checkbox" checked="checked"> Remember me
        </div>
    </form>
</div>
<button type="button" class="btn btn-primary btn-lg" style="display: inline; margin: 0 auto;" onclick="document.getElementById('id01').style.display='block'">Log in</button>
<button type="button" class="btn btn-primary btn-lg"style="display: inline; margin: 0 auto;" padding="10px">Register</button>