@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" align="center">
    <img src="../Resources/Infinteen_logo.png" alt="Logo" width="250px" height="130px">
    <p align="center">Infiniteen is dedicated to providing online classes for high school classes, made by professional mentors.</p>
</div>

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">
        <div class="container" text-align=center >
            <label><b>Username</b></label>

            <input type="text" placeholder="Enter Username" name="uname" required id="username"><br/>
            
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required id="password"><br/>
            
            <button type="button" onclick=calldb()> Log in</button>
            <input type="checkbox" checked="checked"> Remember me
        </div>
    </form>
</div>
<button type="button" class="btn btn-primary btn-lg" style="display: inline; margin: 0 auto;" onclick="document.getElementById('id01').style.display='block'">Log in</button>
<button type="button" class="btn btn-primary btn-lg"style="display: inline; margin: 0 auto;" padding="10px">Register</button>

<script>
    function calldb() {
        var uname = document.getElementById("username").value;
        var psw = document.getElementById("password").value;
        window.alert((String)(psw));
        var type = PageMethods.makeScalarQuery("SELECT UserType FROM Users WHERE UserName = {0} AND Password = {1}".format(uname, psw));
        if (type == "S") {
            document.location.href = "~/Student/Index";
        }
        else {
            document.location.href = "~/Mentor/Index";
        }
    }
</script>