
@{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>

How many colleges in the United States accept more than 75% of applicants?
a. Fewer than 200
b. 334
c. Close to 500***
d. More than 600

What is the most common college major?
a. Business Administration and Management***
b. Nursing
c. Accounting
d. Teacher Education and Professional Development

What percentage of undergraduates work 20 or more hours a week?
a. 10%
b. 23%***
c. 36%
d. 48%

How much debt does the average college student accumulate?
a. 1,000,000
b. 1,500,000
c. 1,750,000***
d. 2,000,000

775,000 male students enroll in college each year. How many female students enroll?
a. 500,000
b. 750,000
c. 1,250,000
d. 1,575,000***