

@{
    ViewBag.Title = "StudentIndex";
}

<h2><b>Hello Student</b></h2>



<div class="container">
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Current Courses
                @*<small>It's Nice to Meet You!</small>*@
            </h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://ndakotalaw.com/wp-content/uploads/2014/12/car-accident-claim.jpg" alt="">
            <h3>
                Car Accidents
                <small>By Adrian Deletion</small>
            </h3>
            <p>Every 5 - 30 seconds there is a car accident in the US. Never be unprepared for an accident again with this course.</p>
        </div>
    </div>
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Courses</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://us.v-cdn.net/5020364/uploads/BI487DA93D41.jpg" alt="">
            <h3>
                Applying for College
                <small>By David Carter</small>
            </h3>
            <p>College is important, learn the ins and outs of how to apply and prepare yourself for College.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://dr5dymrsxhdzh.cloudfront.net/files/14648/images/sections/taxes/taxcalculator/us/image_3.jpg" alt="">
            <h3>
                Taxes
                <small>By Robyn Pocock</small>
            </h3>
            <p>Taxes, if you don't want to risk jail time you might want to know about them.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://www.sclsearch.com/wp-content/uploads/resume-example.jpg" alt="">
            <h3>
                Resumes
                <small>By Alex Fife</small>
            </h3>
            <p>To get any job that matters you will need a proper Resume.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://static1.squarespace.com/static/52177782e4b04422e040157b/52177782e4b04422e040157f/56d9f344f699bb89fc2bb34a/1457530502332/?format=1000w" alt="">
            <h3>
                Job Interviews
                <small>By Greg Gavin</small>
            </h3>
            <p>Job interviews can be a nerve racking experience, calm your nerves and gain confidence with this course.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://msmegarage.org/wp-content/uploads/2017/03/insurance.png" alt="">
            <h3>
                Insurance
                <small>By Adrian Deletion</small>
            </h3>
            <p>Unless you are hoarding wealth just for emergencies than you will need to know about Insurance.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://www.powerandmotoryacht.com/sites/default/files/pictures/1607/lease-buy.jpg" alt="">
            <h3>
                Leases
                <small>By John Jonathan</small>
            </h3>
            <p>Great you finally have the ability to get your own place now there's just one more thing...</p>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Infiniteen 2017.</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->